<div id="page-wrapper">

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Stats
                <small> | What's going on</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Stats
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-4 col-md-7">
            <img src="/screen.jpg" />
            <br /><br /><br />
        </div>
    </div>
    <!-- /.row -->

	<div class="row">
	    <div class="col-lg-4 col-md-7">
	        <div class="panel panel-primary">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-arrows fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge"><%= @total_objects %></div>
	                        <div>Total Objects Created</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-4 col-md-7">
	        <div class="panel panel-green">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-tasks fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge"><%= @btn_on %></div>
	                        <div>Button On?</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-4 col-md-7">
	        <div class="panel panel-red">
	            <div class="panel-heading">
	                <div class="row">
                        <a href="http://superturntdonttry.me">
    	                    <div class="col-xs-3">
    	                        <i class="fa fa-graduation-cap fa-5x"></i>
    	                    </div>
    	                    <div class="col-xs-9 text-right">
    	                        <div class="huge">YES</div>
    	                        <div>Will Graduate?</div>
    	                    </div>
                        </a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Mo Stats, Mo Money</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>x</th>
                                    <th>y</th>
                                    <th>z</th>
                                    <th>number of objects</th>
                                    <th>button on (yes/no)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @data.each do |d| %>
                                    <tr>
                                        <td><%= d[0] %></td>
                                        <td><%= d[1] %></td>
                                        <td><%= d[2] %></td>
                                        <td><%= d[3] %></td>
                                        <td><%= d[4] %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->



</div>
<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->